*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Merriweather, sans-serif;
    background-color: #ebf2ff;

}

.button__primary{
    color: white;
background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
);

border-radius: 6px;
border: none;
padding: 20px;
font-size: 20px;
cursor: pointer;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    position: relative;
}
.navbar__brand{
    height: 100px;
    width: 140px;
}
.navbar__logo{
    height: 100%;
    width: 100%;
}

.nav__item{
    padding: 16px;
    font-size: 16px;

}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.Hero__container{
   
        width: 100%;
        
}

.Hero__image__container{
    width: 100%;
    position: relative;
}

.hero__image{
    width: 100%;
    position: absolute;
}

.hero__text{
    color: #1d3557;
    font-size: 32px;
    padding: 20px 0;
}
.Food_menu_conatiner{
    width: 100%;
    margin-top: 50px;
}
.food_menucard{
    margin-bottom: 15px ;
    width: 100%;
    background-color: white;
    border-radius: 8px;
}
.food_image{
    width: 100%;
    border-radius: 8px 8px 0px 0px ;
}
.food_menu_description{
    padding: 20px;
}
.explore_text{
    color: #1d3557;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
}
.button__foodcard{
    display: flex;
    justify-content: center;
}
.grid_container{
    width: 100%;
    margin-top: 50px;
}
.grid_row_1 , .grid_row_2{
    width: 100%;
    display: flex;
    gap: 5px;
}
.grid_row_1{
    align-items: baseline;
    margin-bottom: 4px;
}

.grid_one, .grid_two, .grid_three, .grid_four{
    width: 100%;
   
}
.one, .fourth{
    width: 100%;
    border-radius: 7px;
}
.two, .three{
    width: 100%;
    height: 150px;
    border-radius: 7px;
}
.grid_text{
    color: #1d3557;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
}

@media(min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar__brand{
        height: 100px;
        width: 150px;
}
.nav__item{
    padding: 20px;
    font-size: 20px;
    
    }
    .Hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .button__primary{
        padding: 15px 10px;
    }
    .Food_menu_list{
        display: flex;
        gap: 8px;

    }
    #pizza{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .Food_menu_list{
        margin-top: 20px; 
    }
    .Food_menu_conatiner{
        position: relative;
    }
    .foodmenu_bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
);
z-index: -3;
transform: skewY(-5deg);
    }
}
.grid_container{
    display: flex;
    align-items: center;
}
.grid_text{
    font-size: 40px;
    width: 100%;
}
.grid_row{
    width: 100%;
}
.two, .three{
    width: 100%;
    height: 250px;
    border-radius: 7px;

@media(min-width:1020px){
    .container{
        max-width: 900px;
    }
    .Hero__image__container{
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     justify-content: space-between;
     gap: 10px;
 }

 .hero__text{
     font-size: 50px;
 }
 .Food_menu_list{
     gap: 20px;
     padding: 0 20px;
 }
 .explore_text{
     font-size: 50px;
 }
.grid_container{
    display: flex;
}

 @media(min-width:1400px){
    .container{
        max-width: 1250px;
    }
}