*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Merriweather, sans-serif;
    background-color: #ebf2ff;

}

.button__primary{
    color: white;
background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
);

border-radius: 6px;
border: none;
padding: 20px;
font-size: 20px;
cursor: pointer;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    position: relative;
}
.navbar__brand{
    height: 100px;
    width: 140px;
}
.navbar__logo{
    height: 100%;
    width: 100%;
}

.nav__item{
    padding: 16px;
    font-size: 16px;

}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.Hero__container{
   
        width: 100%;
        
}

.Hero__image__container{
    width: 100%;
    position: relative;
}

.hero__image{
    width: 100%;
    position: absolute;
}

.hero__text{
    color: #1d3557;
    font-size: 32px;
    padding: 20px 0;
}
.Food_menu_conatiner{
    width: 100%;
    margin-top: 50px;
}
.food_menucard{
    margin-bottom: 15px ;
    width: 100%;
    background-color: white;
    border-radius: 8px;
}
.food_image{
    width: 100%;
    border-radius: 8px 8px 0px 0px ;
}
.food_menu_description{
    padding: 20px;
}
.explore_text{
    color: #1d3557;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
}


@media(min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar__brand{
        height: 100px;
        width: 150px;
}
.nav__item{
    padding: 20px;
    font-size: 20px;
    
    }
    .Hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .button__primary{
        padding: 15px 10px;
    }
}

@media(min-width:1020px){
    .container{
        max-width: 900px;
    }
    .Hero__image__container{
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     justify-content: space-between;
     gap: 10px;
 }

 .hero__text{
     font-size: 50px;
 }


 @media(min-width:1400px){
    .container{
        max-width: 1250px;
    }
}